.tableContainer {
  display: flex;
  justify-content: space-between;
}
.high-alert {
  background-color: #dd224183 !important;
}
.low-alert {
  background-color: #ec791a8c !important;
}

.high-warn {
  color: #dd2241 !important;
  font-weight: bold;
}
.low-warn {
  color: #ec781a !important;
  font-weight: bold;
}
.perfect-warn {
  color: #21b484;
  font-weight: bold;
}

.table-head {
  background-color: #21b483a8;
}

.ft-btn {
  background-color: #21b484;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
